In [2]:
import torch
import numpy as np
from torch.utils.data import Dataset,DataLoader
import pandas as pd

In [3]:
list_use = [0,3]
data  = pd.read_csv("./data/train.conll",on_bad_lines='skip', skip_blank_lines=False, sep='\t', names=["word", "dummy1", "dummy2", "NE"], header=0, usecols=list_use)

In [4]:
data

           word      NE
0           NaN     NaN
1            EU   B-ORG
2       rejects       O
3        German  B-MISC
4          call       O
...         ...     ...
219548  Swansea   B-ORG
219549        1       O
219550  Lincoln   B-ORG
219551        2       O
219552      NaN     NaN

[219553 rows x 2 columns]

In [5]:
data['NE'].unique()

array([nan, 'B-ORG', 'O', 'B-MISC', 'B-PER', 'I-PER', 'B-LOC', 'I-ORG',
       'I-MISC', 'I-LOC'], dtype=object)

In [14]:
word = []
label = []
word_temp = []
lable_temp = []

for index, row in data.iterrows():
    # print(row['word'], row['NE'])
    
    if(pd.isna(row['word']) and pd.isna(row['NE']) and len(word_temp)!=0 and len(lable_temp)!=0):
        # print(word_temp)
        word.append(word_temp)
        label.append(lable_temp)
        word_temp = []
        lable_temp = []
    elif(row['word']!='\t' and not pd.isna(row['word']) and not pd.isna(row['NE'])):
            word_temp.append(row['word'])
            lable_temp.append(row['NE'])

In [15]:
print(len(word))
print(len(label))

14039
14039